<div class="main-container">
    <h1>Card Examples</h1>
    <ng-container>
      <br />
      <div class="container">
        <br />
        <h3>Card with actions alignment option</h3>
        <card-actions-example></card-actions-example>
      </div>
  
      <div class="container">
        <br />
        <h3>Card with multiple sections</h3>
        <card-fancy-example></card-fancy-example>
      </div>
  
      <div class="container">
        <br />
        <h3>Card with footer</h3>
        <card-footer-example></card-footer-example>
      </div>
  
      <div class="container">
        <br />
        <h3>Testing with MatCardHarness</h3>
        <card-harness-example></card-harness-example>
      </div>

      <div class="container">
        <br />
        <h3>Card with media size</h3>
        <card-media-size-example></card-media-size-example>
      </div>
  
  
      <div class="container">
        <br />
        <h3>Basic cards</h3>
        <card-overview-example></card-overview-example>
      </div>
  
      <div class="container">
        <br />
        <h3>Card with sub-title</h3>
        <card-subtitle-example></card-subtitle-example>
      </div>
    </ng-container>
  </div>
  