<div class="main-container">
    <h1>Progress Bar Examples</h1>
      <div class="container">
        <h3>Progress Bar Buffer Example</h3>
        <progress-bar-buffer-example></progress-bar-buffer-example>
      </div>
      <div class="container">
        <h3>Progress Bar Configurable Example</h3>
        <progress-bar-configurable-example></progress-bar-configurable-example>
      </div>
      <div class="container">
        <h3>Progress Bar Determinate Example</h3>
        <progress-bar-determinate-example></progress-bar-determinate-example>
      </div>
      <div class="container">
        <h3>Progress Bar Indeterminate Example</h3>
        <progress-bar-indeterminate-example></progress-bar-indeterminate-example>
      </div>
      <div class="container">
        <h3>Progress Bar Query Example</h3>
        <progress-bar-query-example></progress-bar-query-example>
      </div>
      <div class="container">
        <h3>Progress Bar Harness Example</h3>
        <progress-bar-harness-example></progress-bar-harness-example>
      </div>
  </div>
  