<div class="main-container">
    <h1>Snack Bar Examples</h1>
    <div class="container">
      <h3>Pizza Party Component</h3>
      <snack-bar-component-example></snack-bar-component-example>
    </div>
    <div class="container">
      <h3>Snack Bar Component Example</h3>
      <snack-bar-component-example></snack-bar-component-example>
    </div>
    <div class="container">
      <h3>Pizza Party Annotated Component</h3>
      <snack-bar-annotated-component-example></snack-bar-annotated-component-example>
    </div>
    <div class="container">
      <h3>Snack Bar Annotated Component Example</h3>
      <snack-bar-annotated-component-example></snack-bar-annotated-component-example>
    </div>
    <div class="container">
      <h3>Snack Bar Overview Example</h3>
      <snack-bar-overview-example></snack-bar-overview-example>
    </div>
    <div class="container">
      <h3>Snack Bar Position Example</h3>
      <snack-bar-position-example></snack-bar-position-example>
    </div>
    <div class="container">
      <h3>Snack Bar Harness Example</h3>
      <snack-bar-harness-example></snack-bar-harness-example>
    </div>
  </div>
  