<div class="main-container">
  <h1>Datepicker Examples</h1>
  <ng-container>
    <div class="container">
      <h3>Date Range Picker Comparison Example</h3>
      <date-range-picker-comparison-example></date-range-picker-comparison-example>
    </div>
    <div class="container">
      <h3>Date Range Picker Forms Example</h3>
      <date-range-picker-forms-example></date-range-picker-forms-example>
    </div>
    <div class="container">
      <h3>Date Range Picker Overview Example</h3>
      <date-range-picker-overview-example></date-range-picker-overview-example>
    </div>
    <div class="container">
      <h3>Date Range Picker Selection Strategy Example</h3>
      <date-range-picker-selection-strategy-example></date-range-picker-selection-strategy-example>
    </div>
    <div class="container">
      <h3>Datepicker Actions Example</h3>
      <datepicker-actions-example></datepicker-actions-example>
    </div>
    <div class="container">
      <h3>Datepicker API Example</h3>
      <datepicker-api-example></datepicker-api-example>
    </div>
    <div class="container">
      <h3>Datepicker Color Example</h3>
      <datepicker-color-example></datepicker-color-example>
    </div>
    <div class="container">
      <h3>Datepicker Custom Header Example</h3>
      <datepicker-custom-header-example></datepicker-custom-header-example>
    </div>
    <div class="container">
      <h3>Datepicker Custom Icon Example</h3>
      <datepicker-custom-icon-example></datepicker-custom-icon-example>
    </div>
    <div class="container">
      <h3>Datepicker Date Class Example</h3>
      <datepicker-date-class-example></datepicker-date-class-example>
    </div>
    <div class="container">
      <h3>Datepicker Disabled Example</h3>
      <datepicker-disabled-example></datepicker-disabled-example>
    </div>
    <div class="container">
      <h3>Datepicker Events Example</h3>
      <datepicker-events-example></datepicker-events-example>
    </div>
    <div class="container">
      <h3>Datepicker Filter Example</h3>
      <datepicker-filter-example></datepicker-filter-example>
    </div>
    <div class="container">
      <h3>Datepicker Formats Example</h3>
      <datepicker-formats-example></datepicker-formats-example>
    </div>
    <div class="container">
      <h3>Datepicker Harness Example</h3>
      <datepicker-harness-example></datepicker-harness-example>
    </div>
    <div class="container">
      <h3>Datepicker Inline Calendar Example</h3>
      <datepicker-inline-calendar-example></datepicker-inline-calendar-example>
    </div>
    <div class="container">
      <h3>Datepicker Locale Example</h3>
      <datepicker-locale-example></datepicker-locale-example>
    </div>
    <div class="container">
      <h3>Datepicker Min Max Example</h3>
      <datepicker-min-max-example></datepicker-min-max-example>
    </div>
    <div class="container">
      <h3>Datepicker Moment Example</h3>
      <datepicker-moment-example></datepicker-moment-example>
    </div>
    <div class="container">
      <h3>Datepicker Overview Example</h3>
      <datepicker-overview-example></datepicker-overview-example>
    </div>
    <div class="container">
      <h3>Datepicker Start View Example</h3>
      <datepicker-start-view-example></datepicker-start-view-example>
    </div>
    <div class="container">
      <h3>Datepicker Touch Example</h3>
      <datepicker-touch-example></datepicker-touch-example>
    </div>
    <div class="container">
      <h3>Datepicker Value Example</h3>
      <datepicker-value-example></datepicker-value-example>
    </div>
    <div class="container">
      <h3>Datepicker Views Selection Example</h3>
      <datepicker-views-selection-example></datepicker-views-selection-example>
    </div>
  </ng-container>
</div>
