<div class="main-component">
    <h1>Dialog Examples</h1>
    <ng-container>
        <div class="container">
            <h3>Dialog Content Example</h3>
            <dialog-content-example></dialog-content-example>
        </div>
        <div class="container">
            <h3>Dialog Data Example</h3>
            <dialog-data-example></dialog-data-example>
        </div>
        <div class="container">
            <h3>Dialog Elements Example</h3>
            <dialog-elements-example></dialog-elements-example>
        </div>
        <div class="container">
            <h3>Dialog Overview Example</h3>
            <dialog-overview-example></dialog-overview-example>
        </div>
        <div class="container">
            <h3>Dialog From Menu Example</h3>
            <dialog-from-menu-example></dialog-from-menu-example>
        </div>
        <div class="container">
            <h3>Dialog Harness Example</h3>
            <dialog-harness-example></dialog-harness-example>
        </div>
        <div class="container">
            <h3>Dialog Animations Example</h3>
            <dialog-animations-example></dialog-animations-example>
        </div>
    </ng-container>
</div>
