<div class="main-container">
    <h1>Examples</h1>
    <div class="container">
      <h3>Tooltip Auto Hide Example</h3>
      <tooltip-auto-hide-example></tooltip-auto-hide-example>
    </div>
    <div class="container">
      <h3>Tooltip Custom Class Example</h3>
      <tooltip-custom-class-example></tooltip-custom-class-example>
    </div>
    <div class="container">
      <h3>Tooltip Delay Example</h3>
      <tooltip-delay-example></tooltip-delay-example>
    </div>
    <div class="container">
      <h3>Tooltip Disabled Example</h3>
      <tooltip-disabled-example></tooltip-disabled-example>
    </div>
    <div class="container">
      <h3>Tooltip Manual Example</h3>
      <tooltip-manual-example></tooltip-manual-example>
    </div>
    <div class="container">
      <h3>Tooltip Message Example</h3>
      <tooltip-message-example></tooltip-message-example>
    </div>
    <div class="container">
      <h3>Tooltip Modified Defaults Example</h3>
      <tooltip-modified-defaults-example></tooltip-modified-defaults-example>
    </div>
    <div class="container">
      <h3>Tooltip Overview Example</h3>
      <tooltip-overview-example></tooltip-overview-example>
    </div>
    <div class="container">
      <h3>Tooltip Position Example</h3>
      <tooltip-position-example></tooltip-position-example>
    </div>
    <div class="container">
      <h3>Tooltip Position at Origin Example</h3>
      <tooltip-position-at-origin-example></tooltip-position-at-origin-example>
    </div>
    <div class="container">
      <h3>Tooltip Harness Example</h3>
      <tooltip-harness-example></tooltip-harness-example>
    </div>
  </div>
  