<div class="main-container">
    <h1>Table Examples</h1>
    <div class="container">
      <h3>TableFlexBasicExample</h3>
      <table-flex-basic-example></table-flex-basic-example>
    </div>
    <div class="container">
      <h3>TableBasicExample</h3>
      <table-basic-example></table-basic-example>
    </div>
    <div class="container">
      <h3>TableDynamicColumnsExample</h3>
      <table-dynamic-columns-example></table-dynamic-columns-example> 
    </div>
    <div class="container">
      <h3>TableExpandableRowsExample</h3>
      <table-expandable-rows-example></table-expandable-rows-example>
    </div>
    <div class="container">
      <h3>TableFilteringExample</h3>
      <table-filtering-example></table-filtering-example>
    </div>
    <div class="container">
      <h3>TableFooterRowExample</h3>
      <table-footer-row-example></table-footer-row-example>
    </div>
    <div class="container">
      <h3>TableHttpExample</h3>
       <table-http-example></table-http-example> 
    </div>
    <div class="container">
      <h3>TableMultipleHeaderFooterExample</h3>
      <table-multiple-header-footer-example></table-multiple-header-footer-example>
    </div>
    <div class="container">
      <h3>TableOverviewExample</h3>
      <table-overview-example></table-overview-example>
    </div>
    <div class="container">
      <h3>TablePaginationExample</h3>
      <table-pagination-example></table-pagination-example>
    </div>
    <div class="container">
      <h3>TableRowContextExample</h3>
      <table-row-context-example></table-row-context-example>
    </div>
    <div class="container">
      <h3>TableSelectionExample</h3>
      <table-selection-example></table-selection-example>
    </div>
    <div class="container">
      <h3>TableSortingExample</h3>
      <table-sorting-example></table-sorting-example>
    </div>
    <div class="container">
      <h3>TableStickyColumnsExample</h3>
      <table-sticky-columns-example></table-sticky-columns-example>
    </div>
    <div class="container">
      <h3>TableStickyComplexFlexExample</h3>
      <table-sticky-complex-flex-example></table-sticky-complex-flex-example>
    </div>
    <div class="container">
      <h3>TableStickyComplexExample</h3>
      <table-sticky-complex-example></table-sticky-complex-example>
    </div>
    <div class="container">
      <h3>TableStickyFooterExample</h3>
      <table-sticky-footer-example></table-sticky-footer-example>
    </div>
    <div class="container">
      <h3>TableStickyHeaderExample</h3>
      <table-sticky-header-example></table-sticky-header-example>
    </div>
    <div class="container">
      <h3>TableTextColumnAdvancedExample</h3>
      <table-text-column-advanced-example></table-text-column-advanced-example>
    </div>
    <div class="container">
      <h3>TableTextColumnExample</h3>
        <table-text-column-example></table-text-column-example>
    </div>
    <div class="container">
      <h3>TableWrappedExample</h3>
      <table-wrapped-example></table-wrapped-example>
    </div>
    <div class="container">
      <h3>TableReorderableExample</h3>
      <table-reorderable-example></table-reorderable-example>
    </div>
    <div class="container">
      <h3>TableRecycleRowsExample</h3>
      <table-recycle-rows-example></table-recycle-rows-example>
    </div>
    <div class="container">
      <h3>TableHarnessExample</h3>
      <table-harness-example></table-harness-example>
    </div>
    <div class="container">
      <h3>TableWithRipplesExample</h3>
      <table-with-ripples-example></table-with-ripples-example>
    </div>
    <div class="container">
      <h3>TableColumnStylingExample</h3>
      <table-column-styling-example></table-column-styling-example>
    </div>
    <div class="container">
      <h3>TableRowBindingExample</h3>
      <table-row-binding-example></table-row-binding-example>
    </div>
    <div class="container">
      <h3>TableDynamicArrayDataExample</h3>
      <table-dynamic-array-data-example></table-dynamic-array-data-example>
    </div>
    <div class="container">
      <h3>TableDynamicObservableDataExample</h3>
      <table-dynamic-observable-data-example></table-dynamic-observable-data-example>
    </div>
    <div class="container">
      <h3>TableGeneratedColumnsExample</h3>
      <table-generated-columns-example></table-generated-columns-example>
    </div>
    <div class="container">
      <h3>TableFlexLargeRowExample</h3>
      <table-flex-large-row-example></table-flex-large-row-example>
    </div>
  </div>
  