<div class="main-container">
  <h1>Button Toggle Examples</h1>
  <ng-container>
    <br />
    <div class="container">
      <br />
      <h3>Button toggle appearance</h3>
      <button-toggle-appearance-example></button-toggle-appearance-example>
    </div>

    <div class="container">
      <br />
      <h3>Exclusive selection</h3>
      <button-toggle-exclusive-example></button-toggle-exclusive-example>
    </div>

    <div class="container">
      <br />
      <h3>Button-toggles with forms</h3>
      <button-toggle-forms-example></button-toggle-forms-example>
    </div>

    <div class="container">
      <br />
      <h3>Testing with MatButtonToggleHarness</h3>
      <button-toggle-harness-example></button-toggle-harness-example>
    </div>

    <div class="container">
      <br />
      <h3>Button toggle selection mode</h3>
      <button-toggle-mode-example></button-toggle-mode-example>
    </div>

    <div class="container">
      <br />
      <h3>Basic button-toggles</h3>
      <button-toggle-overview-example></button-toggle-overview-example>
    </div>
  </ng-container>
</div>
