<div class="main-container">
    <h1>Paginator Examples</h1>

      <div class="container">
        <h3>Paginator Configurable Example</h3>
        <paginator-configurable-example></paginator-configurable-example>
      </div>
      <div class="container">
        <h3>Paginator Overview Example</h3>
        <paginator-overview-example></paginator-overview-example>
      </div>
      <div class="container">
        <h3>Paginator Harness Example</h3>
        <paginator-harness-example></paginator-harness-example>
      </div>
      <div class="container">
        <h3>Paginator Intl Example</h3>
        <paginator-intl-example></paginator-intl-example>
      </div>

  </div>
  