<div class="main">
    <ng-container>
        <div class="container">
            <h3>Configurable checkbox</h3>
            <checkbox-configurable-example></checkbox-configurable-example>
        </div>
        <div class="container">
            <h3>Testing with MatCheckboxHarness</h3>
            <checkbox-harness-example></checkbox-harness-example>
        </div>
        <div class="container">
            <h3>Basic checkboxes</h3>
            <checkbox-overview-example></checkbox-overview-example>
        </div>
        <div class="container">
            <h3>Checkboxes with reactive forms</h3>
            <checkbox-reactive-forms-example></checkbox-reactive-forms-example>
        </div>
    </ng-container>
</div>
