<div class="main-container">
    <h1>Tabs Examples</h1>
      <div class="container">
        <h3>Tab Group Align Example</h3>
        <tab-group-align-example></tab-group-align-example>
      </div>
      <div class="container">
        <h3>Tab Group Animations Example</h3>
        <tab-group-animations-example></tab-group-animations-example>
      </div>
      <div class="container">
        <h3>Tab Group Async Example</h3>
        <tab-group-async-example></tab-group-async-example>
      </div>
      <div class="container">
        <h3>Tab Group Basic Example</h3>
        <tab-group-basic-example></tab-group-basic-example>
      </div>
      <div class="container">
        <h3>Tab Group Custom Label Example</h3>
        <tab-group-custom-label-example></tab-group-custom-label-example>
      </div>
      <div class="container">
        <h3>Tab Group Dynamic Height Example</h3>
        <tab-group-dynamic-height-example></tab-group-dynamic-height-example>
      </div>
      <div class="container">
        <h3>Tab Group Harness Example</h3>
        <tab-group-harness-example></tab-group-harness-example>
      </div>
      <div class="container">
        <h3>Tab Group Dynamic Example</h3>
        <tab-group-dynamic-example></tab-group-dynamic-example>
      </div>
      <div class="container">
        <h3>Tab Group Header Below Example</h3>
        <tab-group-header-below-example></tab-group-header-below-example>
      </div>
      <div class="container">
        <h3>Tab Group Lazy Loaded Example</h3>
        <tab-group-lazy-loaded-example></tab-group-lazy-loaded-example>
      </div>
      <div class="container">
        <h3>Tab Group Preserve Content Example</h3>
        <tab-group-preserve-content-example></tab-group-preserve-content-example>
      </div>
      <div class="container">
        <h3>Tab Group Stretched Example</h3>
        <tab-group-stretched-example></tab-group-stretched-example>
      </div>
      <div class="container">
        <h3>Tab Group Theme Example</h3>
        <tab-group-theme-example></tab-group-theme-example>
      </div>
      <div class="container">
        <h3>Tab Nav Bar Basic Example</h3>
        <tab-nav-bar-basic-example></tab-nav-bar-basic-example>
      </div>
      <div class="container">
        <h3>Tab Group Paginated Example</h3>
        <tab-group-paginated-example></tab-group-paginated-example>
      </div>
      <div class="container">
        <h3>Tab Group Inverted Example</h3>
        <tab-group-inverted-example></tab-group-inverted-example>
      </div>
      <div class="container">
        <h3>Tab Group Ink Bar Example</h3>
        <tab-group-ink-bar-example></tab-group-ink-bar-example>
      </div>
  </div>
  