<div class="main-container">
    <h1>Examples</h1>
    <div class="container">
      <h3>Slider Configurable Example</h3>
      <slider-configurable-example></slider-configurable-example>
    </div>
    <div class="container">
      <h3>Slider Formatting Example</h3>
      <slider-formatting-example></slider-formatting-example>
    </div>
    <div class="container">
      <h3>Slider Overview Example</h3>
      <slider-overview-example></slider-overview-example>
    </div>
    <div class="container">
      <h3>Slider Harness Example</h3>
      <slider-harness-example></slider-harness-example>
    </div>
    <div class="container">
      <h3>Slider Range Example</h3>
      <slider-range-example></slider-range-example>
    </div>
  </div>
  