<div class="main-container">
  <h1>Autocomplete Examples</h1>
  <ng-container>
    <div class="container" id="autocomplete-first">
      <br />
      <h3>Highlight the first autocomplete option</h3>
      <autocomplete-auto-active-first-option-example></autocomplete-auto-active-first-option-example>
    </div>

    <div class="container" id="autocomplete-display">
        <br />
        <h3>Display value autocomplete</h3>
        <autocomplete-display-example></autocomplete-display-example>
    </div>

    <div class="container" id="autocomplete-filter">
        <br />
        <h3>Filter autocomplete</h3>
        <autocomplete-filter-example></autocomplete-filter-example>
    </div>

    <div class="container" id="autocomplete-harness">
        <br />
        <h3>Testing with MatAutocompleteHarness</h3>
        <autocomplete-harness-example></autocomplete-harness-example>
    </div>

    <div class="container" id="autocomplete-group">
        <br />
        <h3>Autocomplete overview</h3>
        <autocomplete-overview-example></autocomplete-overview-example>
    </div>

    <div class="container" id="autocomplete-overview">
        <br />
        <h3>Option groups autocomplete</h3>
        <autocomplete-optgroup-example></autocomplete-optgroup-example>
    </div>

    <div class="container" id="autocomplete-plain">
        <br />
        <h3>Plain input autocomplete</h3>
        <autocomplete-plain-input-example></autocomplete-plain-input-example>
    </div>



    <div class="container" id="autocomplete-simple">
      <br />
      <h3>Simple autocomplete</h3>
      <autocomplete-simple-example></autocomplete-simple-example>
    </div>



  </ng-container>
</div>
