<div class="main-container">
    <h1>Examples</h1>
    <div class="container">
      <h3>Slide Toggle Configurable Example</h3>
      <slide-toggle-configurable-example></slide-toggle-configurable-example>
    </div>
    <div class="container">
      <h3>Slide Toggle Forms Example</h3>
      <slide-toggle-forms-example></slide-toggle-forms-example>
    </div>
    <div class="container">
      <h3>Slide Toggle Overview Example</h3>
      <slide-toggle-overview-example></slide-toggle-overview-example>
    </div>
    <div class="container">
      <h3>Slide Toggle Harness Example</h3>
      <slide-toggle-harness-example></slide-toggle-harness-example>
    </div>
  </div>
  