<div class="main-container">
    <h1>Examples</h1>
      <div class="container">
        <h3>Progress Spinner Configurable Example</h3>
        <progress-spinner-configurable-example></progress-spinner-configurable-example>
      </div>
      <div class="container">
        <h3>Progress Spinner Overview Example</h3>
        <progress-spinner-overview-example></progress-spinner-overview-example>
      </div>
      <div class="container">
        <h3>Progress Spinner Harness Example</h3>
        <progress-spinner-harness-example></progress-spinner-harness-example>
      </div>
  </div>
  