<div class="main-container">
    <h1>Expansion Panel Examples</h1>
    <ng-container>
      
        <div class="container">
          <h3>ExpansionExpandCollapseAllExample</h3>
          <expansion-expand-collapse-all-example></expansion-expand-collapse-all-example>
        </div>
        <div class="container">
          <h3>ExpansionOverviewExample</h3>
          <expansion-overview-example></expansion-overview-example>
        </div>
        <div class="container">
          <h3>ExpansionStepsExample</h3>
          <expansion-steps-example></expansion-steps-example>
        </div>
        <div class="container">
          <h3>ExpansionHarnessExample</h3>
          <expansion-harness-example></expansion-harness-example>
        </div>
      
    </ng-container>
  </div>
  