<div class="main-container">
  <h1>Button Examples</h1>
  <ng-container>
    <br />
    <div class="container">
      <br />
      <h3>Testing with MatButtonHarness</h3>
      <button-harness-example></button-harness-example>
    </div>

    <div class="container">
        <br />
        <h3>Basic buttons</h3>
        <button-overview-example></button-overview-example>
    </div>

    <div class="container">
        <br />
        <h3>Basic varieties</h3>
        <button-types-example></button-types-example>
    </div>

    <br>

  </ng-container>
</div>
