<div class="main-container">
    <h1>Chips Examples</h1>

    <ng-container>
        <div class="container">
            <h3>Chips Autocomplete</h3>
            <chips-autocomplete-example></chips-autocomplete-example>
        </div>
        <div class="container">
            <h3>Chips Avatar</h3>
            <chips-avatar-example></chips-avatar-example>
        </div>
        <div class="container">
            <h3>Chips Drag and Drop</h3>
            <chips-drag-drop-example></chips-drag-drop-example>
        </div>
        <div class="container">
            <h3>Chips with form control</h3>
            <chips-form-control-example></chips-form-control-example>
        </div>
      <!--  <div class="container">
            <h3>Testing with MatChipsHarness</h3>
        </div> -->
        <div class="container">
            <h3>Chips with input</h3>
            <chips-input-example></chips-input-example>
        </div>
        <div class="container">
            <h3>Basic chips</h3>
            <chips-overview-example></chips-overview-example>
        </div>
        <div class="container">
            <h3>Stacked chips</h3>
            <chips-stacked-example></chips-stacked-example>
        </div>
    </ng-container>
</div>
