<div class="main-container">
    <h1>Examples</h1>
    <div class="container">
      <h3>Sidenav Autosize Example</h3>
      <sidenav-autosize-example></sidenav-autosize-example>
    </div>
    <div class="container">
      <h3>Sidenav Backdrop Example</h3>
      <sidenav-backdrop-example></sidenav-backdrop-example>
    </div>
    <div class="container">
      <h3>Sidenav Disable Close Example</h3>
      <sidenav-disable-close-example></sidenav-disable-close-example>
    </div>
    <div class="container">
      <h3>Sidenav Drawer Overview Example</h3>
      <sidenav-drawer-overview-example></sidenav-drawer-overview-example>
    </div>
    <div class="container">
      <h3>Sidenav Fixed Example</h3>
      <sidenav-fixed-example></sidenav-fixed-example>
    </div>
    <div class="container">
      <h3>Sidenav Mode Example</h3>
      <sidenav-mode-example></sidenav-mode-example>
    </div>
    <div class="container">
      <h3>Sidenav Open Close Example</h3>
      <sidenav-open-close-example></sidenav-open-close-example>
    </div>
    <div class="container">
      <h3>Sidenav Overview Example</h3>
      <sidenav-overview-example></sidenav-overview-example>
    </div>
    <div class="container">
      <h3>Sidenav Position Example</h3>
      <sidenav-position-example></sidenav-position-example>
    </div>
    <div class="container">
      <h3>Sidenav Responsive Example</h3>
      <sidenav-responsive-example></sidenav-responsive-example>
    </div>
    <div class="container">
      <h3>Sidenav Harness Example</h3>
      <sidenav-harness-example></sidenav-harness-example>
    </div>
  </div>
  